<header>
    <nav class="navbar">
        <div class="navbar-container">
            <a class="logo-container">
                <img src="https://framerusercontent.com/images/CbSPyXMVIfZHAkc9RBEP7XhXEw.png" 
                     alt="Nfactorial Logo" 
                     class="logo-image" />
                <span class="site-title">Nfactorial Blog</span>
            </a>
            <div class="menu-container">
                <ul class="nav-list">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/posts" 
                           class="nav-link">Blog</a>
                    </li>
                    <li>
                        <a routerLink="/about" 
                           routerLinkActive="active" 
                           class="nav-link">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>