<div class="post-card">
    <div class="poster">
        <img src="https://framerusercontent.com/images/CbSPyXMVIfZHAkc9RBEP7XhXEw.png" alt="Post Image"
            class="post-image" />
        <div class="post-name">
            <strong>Title</strong>
            <span>Title</span>
        </div>
    </div>
    <div class="description">
        List
    </div>
    <div class="tags">
        <div class="topic-tag">
            tag1
        </div>
        <div class="topic-tag">
            tag2
        </div>
        <div class="topic-tag">
            tag3
        </div>
        <div class="topic-tag">
            tag4
        </div>
    </div>
    <div class="btn-container">
        <button class="btn">Read More</button>
    </div>
</div>